<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性-使用方法实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName()}}</span><br><br>
        全名：<span>{{fullName()}}</span><br><br>
        全名：<span>{{fullName()}}</span><br><br>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                firstName: '张',
                lastName: '三'
            },
            methods: {
                // 方法调用没有缓存，每次读取fullName都需要调用一次方法
                fullName() {
                    console.log('fullName方法被调用...');
                    return this.firstName + '-' + this.lastName;
                }
            }
        })
    </script>
</body>
</html>