<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>监视器和计算属性对比使用</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!--
			computed和watch之间的区别：
					1.computed能完成的功能，watch都可以完成。
					2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
				两个重要的小原则：
					1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
					2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
					这样this的指向才是vm 或 组件实例对象。
	-->
    <div id="app">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span><br><br>
        test: <span>{{test}}</span><br><br>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                firstName: '张',
                lastName: '三',
                fullName: '张-三'
            },
            watch: {
                // 监视姓名的修改，然后改变全名
                firstName: {
                    handler(val) {
                        this.fullName = val + '-' + this.lastName;
                    }
                },
                lastName(val) {
                    // 监视器可以设置异步操作，2秒后再完成值更新
                    setTimeout(() => {
                        // 这里的this是vue实例对象
                        console.log(this);
                        this.fullName = this.firstName + '-' + val;
                    }, 2000);
                }
            },
            computed: {
                // 计算属性不能设置异步
                test() {
                    return this.firstName + '-' + this.lastName;
                }
            }
        })
    </script>
</body>

</html>