<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="../js/vue.js"></script>
</head>
<!--
    条件渲染：
        1.v-if
                    写法：
                            (1).v-if="表达式"
                            (2).v-else-if="表达式"
                            (3).v-else="表达式"
                    适用于：切换频率较低的场景。
                    特点：不展示的DOM元素直接被移除。
                    注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

        2.v-show
                    写法：v-show="表达式"
                    适用于：切换频率较高的场景。
                    特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

        3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
-->

<body>
    <div id="app">
        <h2>{{name}}</h2>
        <h2>当前n的值为:{{n}}</h2>
        <button @click="n++">点我n++</button>
        <!-- 使用v-show进行条件渲染 -->
        <h2 v-show="n===1">JAVA</h2>
        <h2 v-show="n===2">C++</h2>
        <h2 v-show="n===3">PYTHON</h2>
        <!-- 使用v-if联合v-else-if和v-else进行条件渲染 -->
        <h2 v-if="n===1">Vue</h2>
        <h2 v-else-if="n===2">React</h2>
        <h2 v-else="n===3">Angular</h2>
        <!-- 如果需要同时显示/隐藏多个标签，使用template和v-if，但是不能使用v-show -->
        <template v-if="n===1">
            <h2>北京</h2>
            <h2>上海</h2>
            <h2>深圳</h2>
        </template>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                name: '条件渲染',
                n: 0
            }
        })
    </script>
</body>

</html>